# NEXT_PUBLIC_GOOGLE_CLIENT_ID
# cloudfront https protocol--https://d38zwoqxwucy9d.cloudfront.net

# aws elastic ip
# NEXT_PUBLIC_GRAPHQL_URL=http://13.126.43.151/graphql

# NEXT_PUBLIC_GRAPHQL_WS_URL=ws://13.126.43.151/graphql

# for local development
NEXT_PUBLIC_GRAPHQL_URL=http://localhost:7000/graphql

NEXT_PUBLIC_GRAPHQL_WS_URL=ws://localhost:7000/graphql